.c-map {
    display: flex;
    justify-content: center
}

.c-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.c-map__button {
    height: 40px;
    width: 40px;
}

.c-map__button--red {
    background-color: red;
}

.c-map__button--yellow {
    background-color: yellow;
}

.c-map__button--green {
    background-color: green;
}

.c-button {
    background-color: orange;
}

.c-button:hover {
    cursor: pointer;
}