<h2 *ngIf="!startGame">SELECCIONE SUS BARCOS: {{boatsPlayer}}</h2>
<h2 *ngIf="startGame">A JUGAR!!</h2>
<div *ngIf="startGame">
    <h3 *ngIf="player.turn">TU TURNO</h3>
    <h3 *ngIf="!player.turn">TURNO DEL BOT</h3>
</div>

<h3>MAPA DEL BOT</h3>

<div class="c-map" *ngFor="let x of botMap.x">
    <div *ngFor="let y of botMap.y">
        <button id="{{botMap.letter}}{{x}}{{y}}" class="c-map__button" (click)="fireBoat(botMap.letter, x, y)">-</button>
    </div>
</div>

<!-- Prototipo de mapa. Obviamente habra que poner estilos -->

<div>--------------------------------------</div>
<div class="c-map" *ngFor="let x of playerMap.x">
    <div *ngFor="let y of playerMap.y">
        <button id="{{playerMap.letter}}{{x}}{{y}}" class="c-map__button" (click)="selectPlayerBoats(playerMap.letter, x, y)">-</button>
    </div>
</div>

<h3>MAPA DEL JUGADOR</h3>

<div>
    <button (click)="back()">VOLVER</button>
</div>