<h1 class="c-title">INSTRUCCIONES</h1>

<div class="c-instructions">
    <p>Como en el juego original, habrá dos mapas. Un mapa será el del jugador y el otro el del bot.
        Antes de empezar, cada uno tendrá que hubicar donde esconder sus barcos en las casillas de su mapa.
        Una vez puesto los barcos, el juego empezará. Cada uno tendrá que adivinar donde ha escondido los barcos
        el rival. Quien consiga primero adivinar la posición de todos los barcos del otro, gana.
    </p>
</div>

<button class="c-button c-button--orange" (click)="back()">VOLVER</button>